<header>
<h2>Oto & Oro Hearing and Speech Clinic</h2>
</br> <h4>Dr.Anoohya (MASLP)</h4>
<nav class="round"> 
	<%= link_to 'Home', '/users' %> &nbsp &nbsp &nbsp &nbsp
	

	<% if signed_in? %>
	
	<%= link_to 'Profile', current_user %>&nbsp &nbsp &nbsp &nbsp
	<%= link_to 'Sign out', signout_path %>
	<% else %>
	<%= link_to 'Fix an Appointment', new_user_path %>&nbsp &nbsp &nbsp &nbsp
	<%= link_to 'Sign in', signin_path %>
	<% end %> 
	
</nav>
</header>